

.wrapper {
    position: relative;
    max-width: 630px;
    padding: 40px 55px;
    margin: 0 auto;
    background: linear-gradient(90deg, #564EFF 0%, #342FA0 100%);
    text-align: left;
    overflow: hidden;
    color: #fff ;
}
.desc{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 20px;
}
.subtitle{
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 0.45;
    font-size: 14px;
    font-weight: 200;
}
.popup-list{
    padding-left: 25px;
}
.popup-list-item{
    font-size: 14px;
    margin-bottom: 8px;
    position: relative;
    max-width: 295px;
}
.popup-list-item::before{
    content: '';
    position: absolute;
    left: -26px;
    top: 3px;
    width: 16px;
    height: 16px;
    background-image: url('/assets/img/icons/Icon33.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.desc img{
    object-fit: contain;
}
.content-title{
    margin-top: 22px;
    margin-bottom: 15px;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%); 
    background-image: url('/assets/img/icons/arrow2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
    animation: moveRightLeft 2s infinite ease-in-out; 
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%) rotate(180deg); 
    background-image: url('/assets/img/icons/arrow2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
    animation: moveLeftRight 2s infinite ease-in-out; 
}
.imagePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
  }
  
  .imagePopupContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 25vw; 
    max-height: 90vh; 
    overflow: hidden; 
  }
  .imagePopupContent .custom-close{
    background-image: url('/assets/img/icons/close-b.png');
  }
  
  .imagePopup img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
  }
@keyframes moveLeftRight {
    0% {
      transform: translateX(0) translateY(-50%) rotate(180deg); 
    }
    50% {
      transform: translateX(-10px) translateY(-50%) rotate(180deg);
    }
    100% {
      transform: translateX(0) translateY(-50%) rotate(180deg);
    }
}

@keyframes moveRightLeft {
    0% {
      transform: translateX(0) translateY(-50%); 
    }
    50% {
      transform: translateX(10px) translateY(-50%); 
    }
    100% {
      transform: translateX(0) translateY(-50%);
    }
}
.custom-close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url('/assets/img/icons/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    cursor: pointer;
}


@media screen and (max-width: 576px) {
    .wrapper {
        padding: 25px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .desc{
        flex-direction: column-reverse;
    }
    .desc img{
        margin-bottom: 15px;
    }
}