.contacts{
    margin-top: 15px;
}
.main-title {
    margin-top: 0px;
    max-width: 600px;
    text-transform: none;
}
.subtitle {
    display: block;
    max-width: 700px;
}
.form-inner {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 25px 35px;
    padding-bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('/assets/img/Frame5448.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.mailing-form {
    max-width: 450px;
    width: 100%;
}
.contacts-content {
    position: relative;
}
.form-group {
    margin-bottom: 10px;
    max-width: 450px;
    margin-right: 15px;
    position: relative;
}
.fix-form-group {
    margin-bottom: 25px;
}
.error-message {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 12px;
    color: red;
    opacity: 0;
    transition: all 0.3s ease;
}

.error-message.active {
    opacity: 1;
}
.mailing-form-btn {
    position: relative;
    z-index: 5;
    padding: 10px 20px;
    padding-left: 35px;
    border-radius: 5px;
    background: rgb(5, 233, 240);
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
.mailing-form-btn::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    background-image: url('/assets/img/icons/finger.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
}
.contacts-content__img {
    margin-right: 50px;
    margin-top: 45px;
}
.contacts-content__title {
    font-family: 'Wadik', sans-serif;
    font-size: 13px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
}
.contacts-content__title>small {
    font-family: 'Geologica', sans-serif;
    display: block;
    font-size: 11px;
    letter-spacing: 0.15px;
}
.fix-img{
    position: absolute;
    z-index: 1;
    bottom: 0;
}
.fix-content{
    width: 100%;
    height: 480px;
}
.button-cont{
    display: flex;
    align-items: center;
}
.button-cont p {
    margin-left: 15px;
}
@media screen and (max-width: 991px) {
    .fix-content{
        height: 240px;
    }
    .fix-img{
        left: 140px;
    }
    .form-inner {
        flex-direction: column;
        align-items: center;
    }
    .mailing-form {
        max-width: unset;
    }
    .form-group {
        max-width: 600px;
    }
    .contacts-content__img {
        margin: 0;
        margin-top: -25px;
        width: 335px;
        height: 282px;
    }
    .contacts-content__title {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .fix-img{
        left: unset;
        right: -50px;
    }
    .form-inner {
        background-image: url('/assets/img/contact-bg.png');
    }
    .contacts-content__img {
        margin: 0;
        margin-top: -15px;
        width: 300px !important;
        height: 250px !important;
    }
}