@font-face {
    font-family: 'Geologica';
    src: url('../public/assets/fonts/Geologica-Light.ttf') format('ttf'),
    url('../public/assets/fonts/Geologica-Medium.ttf') format('ttf'),
    url('../public/assets/fonts/Geologica-Regular.ttf') format('ttf'),
    url('../public/assets/fonts/Geologica-Bold.ttf') format('ttf'),
}
@font-face {
    font-family: 'Inter';
    src: url('../public/assets/fonts/Inter-Black.otf') format('otf'),
    url('../public/assets/fonts/Inter-Bold.otf') format('otf'),
    url('../public/assets/fonts/Inter-Regular.otf') format('otf'),
    url('../public/assets/fonts/Inter-Medium.otf') format('otf'),
    url('../public/assets/fonts/Inter-Thin.otf') format('otf'),
}
@font-face {
    font-family: 'Wadik';
    src: url('../public/assets/fonts/Wadik.otf') format('truetype'),
         url('../public/assets/fonts/Wadik.woff') format('woff');
}
